<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <img src="{{ url_for('static', filename='Rae.jpeg') }}"class="container">
 <h1>Rae-Ann Clarke</h1>
 <p>I'm a multifaceted individual with a zest for life and a love for all things creative. Singing and dancing are my passions; there's nothing quite like losing myself in the rhythm and melody of a song or letting my body express itself through movement. When I'm not channeling my inner performer, I can often be found immersed in the digital world, whether it's playing games, surfing the net for interesting articles, or binge-watching my favorite shows and movies. Music is the soundtrack to my life, and I find solace and inspiration in its diverse melodies and lyrics. Through these diverse interests, I constantly seek new experiences and opportunities for growth, both personally and creatively.</p>
</body>
</html> 